body {
    background-color : goldenrod ;
}
#special {
    font-weight : bold ;
}
.highlight {
    font-style: italic;
}
.item-highlight {
    color: blue;
}
li[class^="a"] {
    background-color: yellow;
}
li[class$="date"] {
    background-color: green;
}